[user]
	email = wesleyalopes2010@gmail.com
	name = wesdeveloper
[core]
	editor = nvim
[alias]
  ll = log --graph -p
  cm = commit -m
  s = status -s
  d = diff
  p = push
  co = checkout
[cola]
	spellcheck = false
