[user]
	email = wesley.lopes@willbank.com.br
	name = wesdeveloper
[core]
	editor = nvim
[alias]
  ll = log --graph -p
  cm = commit -m
  s = status -s
  d = diff
  p = push
  co = checkout
[cola]
	spellcheck = false
[pull]
	rebase = false
